# Code Practice #1

#### 1. Describe and express what each of these expressions produces in basic Python

- 2+5 produces 7 because that is the sum of 2 and 5.
- 2  +  5 produces 7 because that is the sum and the amount of spaces doesn't change that.
- 2*5 produces 10 because that is the product of 2 and 5
- 2/5 produces 0.4 because 2 divided by 5 reduces to 0.4
- 2**5 produces 32 because 2 raised to the power of 5 is 32.

In [7]:
2+5

7

In [6]:
2    +    5

7

In [8]:
2*5

10

In [9]:
2/5

0.4

In [10]:
2**5

32

#### 2. What is the value of x after running these statements in order? Why?

The value of x is 10 because in 'x=x+3' the value of x, which is 7, increases by 3 to become 10. The second command changes the value of x using the previous value.

In [11]:
x = 7

In [12]:
x = x + 3

In [13]:
x

10

#### 3. What is the value of y after running these statements in order? of x? Why?

Based on the order of functions, y's value remains "3" after the function y = x despite changes the value of x to 10 in the next function. If we ran "y=x" again y would become 10, but without running that the value of y remains 3 while the value of x changes to 10.

In [17]:
x = 3

In [18]:
y = x

In [19]:
x = 10

In [20]:
y

3

In [21]:
x

10

#### 4. Does this code run without error? If so, what does it produce? If not, explain why.

The code runs without error to produce '1.5 abcabc'. This is because the code recognizes 'x' as an integer and 'z' and 'y' as strings, meaning y can be added to itself. They can then be printed seperately as seperate functions.

In [26]:
x=3

In [27]:
x = x/2

In [28]:
y = 'abc'

In [29]:
z = y + y

In [30]:
print(x, z)

1.5 abcabc

#### 5. Does this code run without error? If so, what does it produce? If not, explain why.

This code runs an error because although the integer x can become a float in 'x = x/2', a float cannot be added to a string y (string because it equals 'abc'). Thus z cannot exist thus the value cannot be printed.

In [3]:
x = 3

In [4]:
x = x/2

In [5]:
y = 'abc'

In [6]:
z = x + y

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [7]:
print(x, z)

NameError: name 'z' is not defined

#### 6. Does this code run without error? If so, what does it produce? If not, explain why.

The code produces "3 | 24 | 8.0". x and y are integers and can be divided to become float z. They can be seperated by designation '|'.

In [11]:
x = 3

In [12]:
y = 24

In [13]:
z = y / x

In [14]:
print(x, y, z, sep=' | ')

3 | 24 | 8.0

#### 7. Does this code run wihtout error? If so, what does it produce? If not, explain why.

The code runs an error for "z = y / x" because y is a string and x is an integer. The code prints "3 8.0" for command "print (x, z)". The print function runs z's old value from the last problem of "8" as its value while the new designation of "x = 3" updates correctly.

In [17]:
x = 3

In [18]:
y = '24'

In [19]:
z = y / x

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [20]:
print(x, z)

3 8.0

#### 8. Does this code run without error? If so, what does it produce? If not, explain why.

The code runs without an error because of the use of quotes. Commenting with '#' after that does not change the value because it is a comment. It produces 'I am a #string'.

In [22]:
x = "I am a #string" #Whoa, a string!

In [23]:
x

'I am a #string'

#### 9. Does this code run without error? If so, what does it produce? If not, explain why.

It runs without an error because both x and y are lists, meaning they can be added to become longer list 'z'. It produces [1, 2, 3, 42, 43].

In [25]:
x = [1, 2, 3]

In [26]:
y = [42, 43]

In [27]:
z = x + y

In [28]:
print(z)

[1, 2, 3, 42, 43]

#### 10. Does this code run without error? If so, what does it produce? If not, explain why.

This runs with an error because the integer 'y = 42' is not compatible with the list 'x'. Different types cannot be added. It produces the old value of z from the last problem: [1, 2, 3, 42, 43].

In [30]:
x = [1, 2, 3]

In [31]:
y = 42

In [32]:
z = x + y

TypeError: can only concatenate list (not "int") to list

In [33]:
z

[1, 2, 3, 42, 43]

#### 11. What "types" are

- x1's type is integer
- x2's type is float
- x3's value is string
- x4's value is list
- x5's value is list

In [35]:
x1 = 12

In [42]:
type(x1) #it is an integer

int

In [43]:
x2 = 12.0

In [44]:
type(x2) #it has a decimal and is therefore a float

float

In [39]:
x3 = '12.0'

In [45]:
type(x3) #it has quotation marks and is therefore a string

str

In [46]:
x4 = [12]

In [49]:
type(x4) #it has brackets and is therefore a list

list

In [50]:
x5 = [12, 12.0, '12.0']

In [53]:
type(x5) #it has brackets and is therefore a list no matter the different types within the list.

list

#### 12. Explain the result of each line:

- type(42) is an integer because 42 is an integer.
- type(42.0) is a float because of its decimal.
- type('42.0') is a string because of its quotation marks.
- type("""42.0""") is a string because of its quotation marks.
- type([1, 2]) is a list because of its brackets.
- type([1] + [2]) is a list because it is the sum of two lists put together.
- type(1 + 2) is an integer because the result is the integer 3.
- type(print) explains that print is a built-in function.

In [54]:
type(42)

int

In [55]:
type(42.0)

float

In [56]:
type('42.0')

str

In [57]:
type("42.0")

str

In [58]:
type("""42.0""")

str

In [59]:
type([1, 2])

list

In [60]:
type([1] + [2])

list

In [61]:
type(1 + 2)

int

In [62]:
type(print)

builtin_function_or_method

#### 13. Describe and explain the result of this statement:

The result is float because the function orders the string '1234' to become an integer, then a string, then finally a float, then asks the type.

In [63]:
type(float(str(int('1234'))))

float

#### 14. Describe and explain the result of this statement:

The result is integer because the function commands string '12.34' to become a float, then an integer, then asks the type.

In [64]:
type(int(float('12.34')))

int

#### 15. Explain each line:

- len([1234]) is 1 because it reads [1234] as a list with a length of one value of 1,234 (there are no commas to seperate numbers).
- len("1234") is 4 because it reads "1234" as a string with 4 characters.
- len(1234) is an error because an integer has no length.

In [65]:
len([1234])

1

In [66]:
len("1234")

4

In [67]:
len(1234)

TypeError: object of type 'int' has no len()

#### 16. What are the type and length of x = []?

The type is list because of the brackets and the length is zero because there are no values in the list.

In [68]:
x = []

In [69]:
len(x)

0

In [70]:
type(x)

list

#### 17. Convert the string x = 'abcde' to a list. What does it look like?

It looks like ['a', 'b', 'c', 'd', 'e']

In [71]:
x = 'abcde'

In [74]:
list(x)

['a', 'b', 'c', 'd', 'e']

#### 18. Consider the integer x = 1234. 
#### a. Convert x to a floating point number.
#### b. Convert x to a string.
#### c. Convert x to the list ['1', '2', '3', '4']

- a. float(x) produces 1234.0
- b. str(x) produces '1234'
- c. list(str(x)) produces ['1', '2', '3', '4']

In [75]:
x = 1234

In [76]:
float(x)

1234.0

In [77]:
str(x)

'1234'

In [79]:
list(str(x))

['1', '2', '3', '4']

#### 19. *Challenging.* How would you convert x to "title case" (first letter of each word capitalized)? *Hint:* Use tab completion to find an appropriate method.

Do this with the function str.title(x) to produce 'Luke, I Am Your Father'

In [80]:
x = "luke, i am your father"

In [82]:
str.title(x)

'Luke, I Am Your Father'

#### 20. *Challenging.* Consider the string
#### x = "How many characters and words are in this string?"
#### a. How many characters does x contain?
#### b. Convert x to a list of individual characters.
#### c. Convert x to a list of individual words. *Hint:* Use tab completion to find a method that splits x into pieces.
#### d. How many words does x contain?

- a. Function len(x) show that x contains 49 characters.
- b. Function list(x) converts x to a *long* list of individual characters, as seen below.
- c. Function list(x.split(" ")) converts x to the list of individual words ['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']
- d. Function len(list(x.split(" "))) shows that x contains 9 words.

In [84]:
x = "How many characters and words are in this string?"

In [85]:
len(x)

49

In [86]:
list(x)

['H',
 'o',
 'w',
 ' ',
 'm',
 'a',
 'n',
 'y',
 ' ',
 'c',
 'h',
 'a',
 'r',
 'a',
 'c',
 't',
 'e',
 'r',
 's',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'w',
 'o',
 'r',
 'd',
 's',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 '?']

In [90]:
list(x.split(" "))

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']

In [91]:
len(list(x.split(" ")))

9